@model EBanking.ViewModels.RacunRacuniViewModel
@using EBanking.Models
@{
    ViewBag.Title = "Pretraga";
}

<h2>Pretraga racuna</h2>

<form method="post" onsubmit="return ValidacijaDatuma(this)">
    <div class="form-group">
        @Html.LabelFor(m => m.Racun.NosilacRacuna)
        <input type="text" value="@Model.Racun.NosilacRacuna" class="form-control" name="Racun.NosilacRacuna" />
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Racun.BrojRacuna)
        <input type="text" value="@Model.Racun.BrojRacuna" class="form-control" name="Racun.BrojRacuna" />
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Racun.IznosOd)
        <input type="number" value="@Model.Racun.IznosOd" class="form-control" name="Racun.IznosOd" />
        <span id="IznosOdSpan"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Racun.IznosDo)
        <input type="number" value="@Model.Racun.IznosDo" class="form-control" name="Racun.IznosDo" />
        <span id="IznosDoSpan"></span>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.Racun.Aktivan)
        <input type="checkbox" value="true" name="Racun.Aktivan" />
    </div>
    <input type="submit" value="Pretrazi racune" class="btn btn-primary" />
</form>

<br />
<br />
@if (Model.Racuni != null)
{

    <table class="table table-bordered">
        <tr>
            <th>Broj racuna</th>
            <th>Nosilac Racuna</th>
            <th>Ukupno</th>
            <th>Online</th>
            <th>Aktivan</th>
        </tr>
        @foreach (Racun item in Model.Racuni)
        {
            if (Model.Racun.NosilacRacuna == item.NosilacRacuna && Model.Racun.Aktivan == item.Aktivan && Model.Racun.IznosOd <= item.UkupnoStanje && Model.Racun.IznosDo >= item.UkupnoStanje || Model.Racun.BrojRacuna == item.BrojRacuna && Model.Racun.Aktivan == item.Aktivan && Model.Racun.IznosOd <= item.UkupnoStanje && Model.Racun.IznosDo >= item.UkupnoStanje)
            {

                <tr @(item.Aktivan ? "style=background-color:green" : "style=background-color:red")>
                    <td>@item.BrojRacuna</td>
                    <td>@item.NosilacRacuna</td>
                    <td>@item.UkupnoStanje</td>
                    <td>@item.OnlineBanking</td>
                    <td>@item.Aktivan</td>
                    <td><a href="/Uplatnica?id=@item.Id" class="a-link">otvori</a></td>
                    <td><a href="/Racun/Update?id=@item.Id" class="a-link">izmeni</a></td>
                    <td><a href="/Racun/Delete?id=@item.Id" class="a-link">obrisi</a></td>
                    <td>
                        @if (item.Aktivan)
                        {

                            <a href="/Racun/Deaktiviraj?id=@item.Id" class="a-link">deaktiviraj</a>
                        }
                        else
                        {
                            <a href="/Racun/Aktiviraj?id=@item.Id" class="a-link">aktiviraj</a>
                        }
                    </td>
                </tr>
            }
        }
    </table>
    @Html.ActionLink("Nazad", "Index", "Racun")

}

@Scripts.Render("~/Scripts/ValidacijaDatuma.js")

